.landingContainer {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landingContent {
  color: white;
}
.buttonDiv {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  border-radius: 20px;
  min-width: 15%;
}
.landingButton {
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  width: 100%;
}
