.formControl1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fieldsDiv1 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 10px;
}
.fields {
  width: 100%;
}
.error {
  color: tomato;
}
.btnDivF {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.green {
  width: 25%;
  background: linear-gradient(45deg, #74e751 30%, #53fff6 90%);
}
